project_id=3399
ha_request_id=HA2022-00439
host_id=19984
host_name=AISProcurementSelfHost-az-jaea-prd-001
os_id=154
os_name=Ubuntu
os_version_id=538
os_version_name=18.04 [Huawei] 
script_version=1
ip=10.85.152.36
oob_ip=10.85.152.36
function_name=Application
project_owner_id=8400,14301
project_owner=NUKOOL CHAROENSOMBAT,Apirat Katephun
site_location_id=172
site_location_name=Azure Cloud
checksum=Nzg5YzAwMjQ4ZmRjZThhODNkZTQ5NDhmNWQ0ZDA4ZWQ2NjdmYmJkM2VjMWYxMTc2ODliOTM5YmMxMmZlZmM4Zg==
