project_id=3399
ha_request_id=HA2022-00446
host_id=20012
host_name=vm-AISProcurementSelfHost-az-jaea-prd-001
os_id=154
os_name=Ubuntu
os_version_id=428
os_version_name=18 [Azure]
script_version=1
ip=10.85.152.36
oob_ip=10.85.152.36
function_name=Application
project_owner_id=8400,14301
project_owner=NUKOOL CHAROENSOMBAT,Apirat Katephun
site_location_id=172
site_location_name=Azure Cloud
checksum=YTVhMjQ4YzJiMmE2ZWJhYWFmNmZjNGE4Y2IwNjYwYzNkYmQ3YjBkYTM0ZGU2ODdiMzRhNTI2Njk5YzFlYjgyMA==
